@*/*Me*/*@

@*<div class="user-light-button user-button">Обновить фотографию</div>*@

@*/*Friend*/*@

@*<div class="user-light-button user-button">Удалить из друзей</div>
<div class="user-dark-button user-button">Написать сообщение</div>*@

@*/*Not friend*/*@

<div class="user-light-button user-button">Добавить в друзья</div>
<div class="user-dark-button user-button">Написать сообщение</div>
